@model MyPortfolio.Models.Board

@{
    ViewData["Title"] = "Board";
}

<section class="py-5">
    <div class="container px-5">
        <div>
            <div class="row">
                <div class="col text-center">
                    <h3>@Html.DisplayFor(Model => Model.Title)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">@Html.DisplayFor(Model => Model.UserId) ( @Html.DisplayFor(Model => Model.Name) )</div>
                <div class="col-sm-9"></div>
            </div>
            <div class="row">
                <div class="col">@Html.DisplayFor(Model => Model.RegDate) 작성 </div>
            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>


